[Unit]
Description=Awesome Bot Discord reminder bot

[Container]
Image=localhost/awesome-bot:latest
ContainerName=awesome-bot
Environment=DATABASE_PATH=data/bot.sqlite
EnvironmentFile=%h/awesome-bot/.env
Volume=%h/awesome-bot/data:/app/data:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
